# Ignore Python cache
__pycache__/
*.py[cod]

# Virtual envs
.env/
.venv/
venv/

# Local environment variables file
.env

# Firebase stuff
.firebase/
.firebase-debug.log
firebase-debug.log

# MacOS
.DS_Store

logs/
users.db
instance/users.db
